<div class="sidebar">
    <div class="logoDiv">

        <i style="font-size: 30px;margin-right: 10px; cursor: pointer; color: white;position: absolute;right: 0;" class="close">&times;</i>
    </div>
    <hr>
    <ul>
        <li>
            <div class="itemDiv">
                <h5 class="sideitem">Home</h5>
            </div>
        </li>
        <li>
            <div class="itemDiv">
                <h5 class="sideitem">Menu </h5>
            </div>
        </li>
        <li>
            <div class="itemDiv">
                <h5 class="sideitem">Order</h5>
            </div>
        </li>
        <li>
            <div class="itemDiv">
                <h5 class="sideitem">Hot deal</h5>
            </div>
        </li>
        <li>
            <div class="itemDiv">
                <h5 class="sideitem">About</h5>
            </div>
        </li>
        <li>
            <div class="itemDiv">
                <h5 class="sideitem">Contact</h5>
            </div>
        </li>
    </ul>
    
    <div class="userSideDiv">
        <i class="fa fa-user-circle" aria-hidden="true" style="font-size: 40px;color: white;"></i>
        <div style="align-items: center;padding-left: 10px;">
            <font style="color: white;">Jafar osoma</font><br>
            <font style="color: rgb(208, 235, 214);">active</font>
        </div>
        <div style="position: absolute;right: 0;margin-right: 10px;">
            <i class="fas fa-sign-out-alt" style="font-size: 20px;color: white;"></i>
        </div>
    </div>
</div>
